*
{
    padding: 0%;
    margin: 0%;
}
h1
{
    text-align: center;
    font-size: 40px;
    text-decoration-line: underline;
  text-decoration-style: double;
  color: rgb(95, 3, 3);
}
nav{
    padding: 30px;
}
input
{
    text-align: center;
    font-size: 20px;
    background-color: rgb(215, 250, 135);
}
.forbill
{
    text-align: center;
    font-size: 30px;
}
label
{
    font-size: 30px;  
    display: flex;
    justify-content: center; 
}
select
{
    font-size: 20px;
    background-color: rgb(215, 250, 135);
}
#w
{
    padding: 6px;
    background-color: rgb(255, 153, 0);
}
hr{
    padding: 3px;
    border-style: dashed;
    border-color: rgb(0, 0, 0);
    background-color: rgb(3, 17, 54);
}
#service
{
    display: flex;
    justify-content: center; 
}
.button-1{
    font-size: 30px;  
    display: flex;
    justify-content: center; 
    color: azure;
    padding: 3px;
}
#but-1,.su
{
    display: flex;
    justify-content: center;
}
.button-1
{
background-color: green;
border-radius: 40px;
padding: 16px;
border-color: brown;
}
#bill_amount1
{
    background-color: black;
    color: white;
    border-style: none;
    font-size: 30px;
}
#z
{
    /* background-image: url(../images/qw.webp); */
     /* background-size:2vw 6vh;  */
     background-color: bisque;
    /* background-repeat: no-repeat; */
}
main
{
    /* background-image: url(../images/img6.jpg); */
    background-image: url(../images/vv.webp);
    /* background-size:auto auto; */
    background-repeat: no-repeat;
}
